.login{
    border: 1px dashed black;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}
.login div{
    text-align: center;
}
.login .submit{
    border: 1px solid white;
    background-color: green;
    width: 7%;
    margin: 0 auto;
}