*{
    margin: 0;
    padding: 0;
}
.Login{
    width: 100%;
    
    text-align: center;
   position: relative;
   background-color: rgb(101, 101, 101);
}
.Login .head{
    height: 40px;
    text-align: left;
    margin-bottom: 10px;
    line-height: 40px;
}
.Login .head .span1{
    display: inline-block;
    font-size: 18px;
}

.instruction{
    background-color: rgb(189, 185, 185);
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: bold;
}

.region .span1{
    margin-left: 30px;
}
.region .span2{
    margin-right: 30px;
}
.phoneNum{
    display: flex;
    height: 40px;
    line-height: 40px;
   
    border-bottom:1px solid rgb(189, 185, 185);
}
.phoneNum .span1{
    margin-left: 30px;
}
.phoneNum .span2{
    margin-left: 10px;
}
.phoneNum .span2 input{
    font-size: 17px;
    outline: none;
    border: none;
}
.password{
    height: 40px;
    border-bottom: 1px solid rgb(189, 185, 185);
    line-height: 40px;
    margin-top: 15px;
    
}
.password input{
    outline: none;
    border: 0;
    font-size: 17px;
}
.error1 .span1{
   
    margin-top: 5px;
    font-size: 13px;
    height: 10px;
    line-height: 10px;
    margin-left: 30px;
    text-align: left;
    color: red;
}





.verifyPic{
    
    border-radius: 5px;
    position: absolute;
    top:17%;
    left: 10%;
    width: 80%;
    height: 66%;
    background-color: white;
    z-index: 1;
    text-align: center;
}
.verifyPic .verifyPic1{
    margin-top: 10px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
}
.verifyPic .verifyPic2{
    height: 70px;
    display: flex;
    justify-content: space-around;
    
}
.verifyPic .verifyPic2 .verifyPic21{
    background-color: rgb(1, 150, 206);
    
}
.verifyPic .verifyPic2 .verifyPic22{
    color: red;
    line-height: 70px;
}
.verifyPic .verifyPic3{
    height: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    text-align: left;

}
.verifyPic .verifyPic3 input{
    font-size: 16px;
    outline: none;
    border: none;
    margin-left: 23px;
}
.verifyPic .verifyPic4{
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    background-color: rgb(1, 150, 206);
    border-radius: 5px;
    margin-bottom: 50px;
}
