.head{
    width: 100%;
    height: 70px;  
    background-color: rgb(209, 197, 197);
    display: flex;
    justify-content: space-between;
}
.head .headLeft{
    width: 350px;
    height: 70px;  
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}
.head .headLeft .headLeft1,.headLeft2,.headLeft3{
    width: 80px;
    height: 70px;  
   text-align: center;
   line-height: 70px;
   font-weight: bold;
   font-size: 20px;
   cursor: pointer;
}

.head .headRight{
    margin-right: 20%;
    width: 350px;
    height: 70px;  
    display: flex;
    justify-content: space-between;
}
.head .headRight .headRight1,.headRight2,.headRight3{
    width: 80px;
    height: 70px;  
   text-align: center;
   line-height: 70px;
   font-weight: bold;
   cursor: pointer;
}

.head .avatar{
    margin-top: 10px;
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50px 50px;
    border-radius: 5px;
   margin-left: 1.5%;
}