.person{
    width: 100%;
}
.person .person1{
    font-weight: bold;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.person .person2{
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.person .person3{
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.person .person4{
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.person .person5{
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}
.person .person6{
    height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}