.neck{
    width: 100%;
    height: 50px;  
     display: flex;
      justify-content: space-between;
      background-color: white;
  }
  .neck .neckLeft{
      width: 500px;
      height: 50px;  
      margin-left: 20%;
      display: flex;
      justify-content: space-between;
      line-height: 50px;
  }
  .neck .neckRight{
      width: 350px;
      height: 50px;  
      margin-right: 20%;
      display: flex;
      justify-content: space-between;
      line-height: 50px;
  }
  
  .neck .neckRight .neckRight2{
      width: 80px;
      height: 30px;  
      background-color:rgba(129, 156, 160, 0.911);
       text-align: center;
      line-height: 30px;
      margin-top: 10px;
      border-radius: 5px;
  }