.pc{
    margin: auto 20%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.pc .pcLeft{
    width: 18%;
    background-color: rgb(61, 63, 73);
    height: 600px;
    border-radius: 5px;
    color: white;
}
.pc .pcLeft .pcLeft1,.pcLeft2,.pcLeft3,.pcLeft4,.pcLeft5{
    cursor: pointer;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.pc .pcLeft .pcLeft4{
    background-color: rgb(75, 147, 135);
  
}
.pc .pcLeft .pcLeft6{
    cursor: pointer;
    margin-top: 140px;
    background-color: rgb(75, 147, 135);
    height: 50px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
}
.pc .pcRight{
    width: 80%;
    background-color:white;
    height: 600px;
    border-radius: 5px;
}
.pc .pcRight .pcRightHead{
    width: 90%;
    border-bottom: 1px solid gray;
    margin: auto 5%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}
.pc .pcRight .pcRightHead1,.pcRightHead2{
    width: 12%;
    height: 57px;
    text-align: center;
    margin-right: 5%;
    color: black;
    line-height: 70px;
    cursor: pointer;
}
.pc .pcRight #pcActive{
    border-bottom: 3px solid rgb(75, 147, 135);
}

.pc .pcRight .pcRightFoot{
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.pc .pcRight .pcRightFoot .paging{
    width: 40px;
    height: 30px;
    background-color: rgba(129, 156, 160, 0.911);
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
}
