.hhfAvatarWhite{
    margin-top: 10px;
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60px 60px;
   border: 1px solid white;
}
.hhfAvatarBlack{
    margin-top: 10px;
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60px 60px;
   border: 2px solid black;
  
}