
.bodyReply{
    margin: auto 20%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
}
.bodyReply .left{
    width: 65%;
}
.bodyReply .right{
    width: 33%;
}

.bodyReply .left .bodyHead{
    border-bottom: 2px solid black;
    height: 200px;
    margin-bottom: 5px;
}
.bodyReply .left .bodyHead .bodyHead1{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.bodyReply .left .bodyHead .bodyHead11{
    flex: 1;
    height: 50px;
}

.bodyReply .left .bodyHead .bodyHead12{
    width: 20%;
    height: 50px;
}
.bodyReply .left .bodyHead .bodyHead2{
    display: flex;
   background-color: rgb(228, 215, 215);
    height: 60px;
}










.bodyReply .reply{
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 215, 198);
}
.bodyReply .left .reply1{

    display: flex;

}
.bodyReply .left .reply1 .replyPost{
    margin-left: 20px;
    display: flex;

}
.bodyReply .left .reply1 .replyPost .replyPostTop{
    margin-left: 20px;
    display: flex;
  
}
.bodyReply .left .reply1  .replyCreateAt{
    margin-left: 20px;
 
}

.bodyReply .left .reply3{
    display: flex;
 
}




.bodyReply .reply1111{
    display: flex;
    justify-content: space-between;
   
}
.bodyReply .left .reply1111 .reply1{

    display: flex;

}
.bodyReply .left .reply1111 .reply1 .replyPost{
    margin-left: 20px;
    display: flex;

}
.bodyReply .left .reply1111 .reply1 .replyPost .replyPostTop{
    margin-left: 20px;
    display: flex;
  
}
.bodyReply .left .reply1111 .reply1  .replyCreateAt{
    margin-left: 20px;
 
}

.bodyReply .left .reply1111 .reply3{
    display: flex;
 
}














.bodyReply .left  .bodyHead21{
  
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50px 50px;

}
.bodyReply .left .bodyHead .bodyHead22{
display: flex;

    height: 50px;
}
.bodyReply .left .bodyHead .bodyHead22 div{
   margin-left: 30px;
    }
/* .body .left .bodyHead .bodyHead221，.bodyHead222，.bodyHead223{

    
} */
.bodyReply .left .bodyHead .bodyHead3{
    height: 40px;
}
.bodyReply .left .bodyHead .bodyHead4{
    height: 30px;
    display: flex;
    justify-content: center;
}
.bodyReply .left .bodyHead .bodyHead5{
    height: 10px;
}

.bodyReply .left .reply{
    height: 80px;
    border-bottom: 1px solid gray;
    display: flex;
    line-height: 80px;
}
.bodyReply .left .replyNum{
    height: 20px;
    border-bottom: 1px dashed gray;
    line-height: 20px;
    text-align: center;
}
.bodyReply .left .reply .bodyMiddle{
    display: flex;
}

.bodyReply .left .reply .bodyMiddlePic{
    margin-top: 10px;
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 60px 60px;
   margin-left: 1.5%;
}

.bodyReply .left .reply .bodyMiddle .post{
    margin-left: 20px;
    flex: 1;
    height: 60px;
    margin-right: 1.5%;
}
.bodyReply .left .reply .post .label1{
   text-align: left;
   height: 30px;
   line-height: 30px;
   margin-top: 10px;
}
.bodyReply .left .reply .post .titleDown{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
 }
 .bodyReply .left .reply .bodyMiddle1{
    height: 20px;
 }
 .bodyReply .left .reply .bodyMiddle2{
    display: flex;
  
 }
 .bodyReply .left  .bodyDown{
     margin-top: 20px;
    display: flex;
    justify-content: center;
 }
 .bodyReply .left .paging{
     width: 40px;
     height: 30px;
     background-color: rgb(75, 147, 135);
     border-radius: 5px;
     line-height: 30px;
     text-align: center;
 }
 .bodyReply .left .bodyHead .replyPost{
     height: 50px;
     width: 100%;
     border: 1px solid red;
     
 }
 .bodyReply .left .bodyHead .replyPost div{
    width: 20px;
    border: 1px solid rgb(177, 136, 136);
    
}
 .bodyReply .left .replyPost .bodyHead .textarea{
    height: 50px;
    width: 800px;
    border: 1px solid red;
}
 .aaaaa{
    display: none;
    position: absolute;
    top:20%;
    left: 30%;
    width: 31%;
    height: 75%;
    border: 1px solid red;
    background-color: white;
    border-radius: 5px;
}



