*{
    margin: 0;
    padding: 0;
}
.article{
    width: 100%;
}
.article .article1{
    height: 30px;
    border-bottom: 1px solid gray;
    line-height: 30px;
    padding:0 3%;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}
.article .article2{
    height: 60px;
     font-weight: bold;
     padding:0 3%;
    font-size: 20px;
    margin-bottom: 5px;
}
.article .article3{
    height: 30px;
    line-height: 30px;
    padding:0 3%;
    font-size: 15px;
    margin-bottom: 5px;
    opacity: 0.6;
}
.article .article4{
    height: 68px;
    margin: 0 3%;
    padding:0 3%;
    font-size: 17px;
    margin-bottom: 5px;
  background-color: rgb(244, 245, 247);
}
.article .article5{
    height: 288px;
    padding:0 3%;
    font-size: 17px;
    margin-bottom: 5px;
}
.article .article6{
    height: 60px;
    padding:0 3%;
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}
.article .article6 .article61{
    height: 30px;
    width: 120px;
   
    line-height: 30px;
    background-color: rgb(244, 245, 247);
    border-radius: 5px;
}
.article .article6 .article61 input{
    width: 120px;
    outline: none;
    border: none;
    background-color: rgb(244, 245, 247);
    text-indent: 5px;
}
.article .article6 .article62,.article63,.article64,.article65{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.article .article6 .article62{
    background-image: url("../picture/wenzhang_huaban.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.article .article6 .article63{
    background-image: url("../picture/wujiaoxing.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.article .article6 .article64{
    background-image: url("../picture/weixin.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.article .article6 .article65{
    line-height: 20px;
}
