.createLogin{
    display: none;
    position: absolute;
    top:20%;
    left: 30%;
    width: 31%;
    height: 75%;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.createNew{
    width: 60%;
    margin: auto 20%;
    margin-top: 20px;
    border: 1px solid black;
    background-color: white;
}
.createNew .createPPost{
    width: 96%;
    height: 40px;
    margin: auto 2%;
    border-bottom: 1px solid gray;
} 
.createNew .createPost1{
    text-align: center;
    width: 9%;
    height: 37px;
    border-bottom: 3px solid rgb(75, 147, 135);
    line-height: 40px;
    color:  rgb(75, 147, 135);;
} 
.createNew .title{
    width: 96%;
    height: 40px;
    margin: auto 2%;
    border: 1px solid gray;
    margin-top: 20px;
    display: flex;
} 
.createNew .title1{
    text-align: center;
    width: 9%;
    height: 40px;
    border-right: 1px solid gray;
    line-height: 40px;
    background-color: rgb(224, 213, 213);
} 
.createNew .title2{
    flex: 1;
    height: 37px;
    line-height: 37px;
} 
.createNew .title2 input{
    outline: none;
    border: none;
    width: 100%;
    height: 37px;
    line-height: 37px;
    font-size: 16px;
} 
.createNew .content{
    width: 96%;
    margin: auto 2%;
    height: 300px;
    border: 1px solid gray;
    margin: 20px;
} 
.createNew .content textarea{
    outline: none;
    border: none;
    width: 100%;
    height: 300px;
    font-size: 16px;
} 
.pulish{
    background-color:  rgb(75, 147, 135);
    width: 80px;
    text-align: center;
}

