
.bodyList{
    margin: auto 20%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.bodyList .left{
    width: 65%;
}

.bodyList .left .hat{
    height: 50px;
    text-align: left;
    text-indent: 10px;
    background-color: white;
    border-radius: 5px;
    line-height: 50px;
}
.bodyList .left .body2{
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
}
.bodyList .left .body2 .bodyHead{
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed gray;
    line-height: 60px;
}
.bodyList .left .body2 .bodyHead .bodyHead1{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.bodyList .left .body2 .bodyHead .bodyHead2{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.body2 .bodyMiddle{
    height: 80px;
    border-bottom: 1px dashed gray;
    display: flex;
    line-height: 80px;
}
.body2 .bodyMiddle .bodyMiddlePic{
    margin-top: 10px;
    height: 60px;
    width: 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50px 50px;
  
   margin-left: 1.5%;
}

.body2 .bodyMiddle .post{
    margin-left: 20px;
    flex: 1;
    height: 60px;
    margin-right: 1.5%;
}
.body2 .bodyMiddle .post .bodyMiddleTitle{
   text-align: left;
   height: 30px;
   line-height: 30px;
   margin-top: 10px;
}
.body2 .bodyMiddle .post .titleDown{
    display: flex;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
 }
.body2 .bodyMiddle .post .titleDown1{
    display: flex;
    justify-content: space-between;
    width: 50%;
 }
 .body2 .bodyMiddle .post .titleDown1 .label4 .div1{
  float: left;
    height: 20px;
    width: 20px;
   background-image: url('../picture/heart.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 20px 20px;
   margin-top: 3px;
 }
 .body2 .bodyMiddle .post .titleDown1 .label4 .div2{
    float: left;
  height: 20px;
  margin-top: -1px;
  color: red;
  }
  .body2 .bodyMiddle .post .titleDown2 .label5 .div1{
    float: left;
      height: 20px;
      width: 20px;
     background-image: url('../picture/eye.png');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 20px 20px;
     margin-top: 3px;
   }
   .body2 .bodyMiddle .post .titleDown2 .label5 .div2{
      float: left;
    height: 20px;
    margin-top: -1px;
    }
    .body2 .bodyMiddle .post .titleDown2 .label6 .div1{
        float: left;
          height: 20px;
          width: 20px;
         background-image: url('../picture/comment.png');
         background-repeat: no-repeat;
         background-position: center;
         background-size: 20px 20px;
         margin-top: 3px;
       }
       .body2 .bodyMiddle .post .titleDown2 .label6 .div2{
          float: left;
        height: 20px;
        margin-top: -1px;
        }
.body2 .bodyMiddle .post .titleDown2{
    display: flex;
    justify-content: space-between;
    width: 20%;
 }
 .bodyList .bodyDown{
     margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 50px;
 }
 .bodyList .bodyDown .paging{
     width: 40px;
     height: 30px;
     border-radius: 5px;
     line-height: 30px;
     text-align: center;
     border: 1px solid gray;
     margin-right: 6px;
     cursor: pointer;
 }
 .bodyList .bodyDown .active{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    border: 1px solid gray;
    margin-right: 6px;
    background-color: rgb(75, 147, 135);
}
 

 