.pcRightBody{
    width: 90%;
    border-bottom: 1px solid gray;
    margin: auto 5%;
    height: 50px;
    display: flex;
    
}
 .pcRightBody1{
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: flex-start;
   line-height: 50px;
}
 .pcRightBody1 div{
    margin-right: 5%;
}
 .pcRightBody2{
    flex: 1;
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
}

 .pcRightFootPage{
    margin-top: 20px;
   display: flex;
   justify-content: center;
}
.pcRightFootPage .paging{
    width: 40px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    border: 1px solid gray;
    margin-right: 6px;
    cursor: pointer;
}
.pcRightFootPage .active{
   width: 40px;
   height: 30px;
   border-radius: 5px;
   line-height: 30px;
   text-align: center;
   border: 1px solid gray;
   margin-right: 6px;
   background-color: rgb(75, 147, 135);
}