*{
    margin: 0;
    padding: 0;
}
.Login{
    width: 100%;
    
    text-align: center;
   position: relative;
   background-color: rgb(101, 101, 101);
}
.Login .head{
    height: 40px;
    text-align: left;
    margin-bottom: 10px;
    line-height: 40px;
}
.Login .head .span1{
    display: inline-block;
    font-size: 18px;
}
.Login .head .span2{
    display: inline-block;
    margin-left: 117px;
    font-size: 18px;
    font-weight: bold;
}
.instruction{
    background-color: rgb(189, 185, 185);
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
}
.region{
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    border-bottom:1px solid rgb(189, 185, 185);
}
.region .span1{
    margin-left: 30px;
}
.region .span2{
    margin-right: 30px;
}
.phoneNum{
    display: flex;
    height: 40px;
    line-height: 40px;
   
    border-bottom:1px solid rgb(189, 185, 185);
}
.phoneNum .span1{
    margin-left: 30px;
}
.phoneNum .span2{
    margin-left: 10px;
}
.phoneNum .span2 input{
    font-size: 17px;
    outline: none;
    border: none;
}
.password{
    height: 40px;
    border-bottom: 1px solid rgb(189, 185, 185);
    line-height: 40px;
    margin-top: 15px;
    
}
.password input{
    outline: none;
    border: 0;
    font-size: 17px;
}
.error1,.error2 .span1{
   
    margin-top: 5px;
    font-size: 13px;
    height: 10px;
    line-height: 10px;
    margin-left: 30px;
    text-align: left;
    color: red;
}
.verifyCode{
    display: flex;
    height: 40px;
    line-height: 40px;
    border-bottom:1px solid rgb(189, 185, 185);
}
.verifyCode .span1{
    margin-left: 73px;
   
    width: 100px;
}
.verifyCode .span1 input{
    font-size: 17px;
    outline: none;
    border: none;
}
.verifyCode .span2{
    display: inline-block;
    margin-left: 70px;
    border: 1px solid rgb(165, 217, 237);
    color:rgb(165, 217, 237);
    line-height: 25px;
    height: 25px;
    width: 60px;
    margin-top: 7px;
    font-size: 12px;
    padding-left:  10px;
    padding-right:  10px;
    border-radius: 5px;
}
.error2{
    margin-top: 5px;
   display: flex;
   justify-content: space-between;
    font-size: 13px;
    margin-bottom: 15px;
}
.error2 .span2{
    opacity: 0.7;
}
.error2 .span22{
   margin-right: 30px;
}
.error2 .span3{
   color: rgb(165, 217, 237);
  
}
.submit{
    height: 45px;
    background-color: rgb(0, 151, 207);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    color: white;
    line-height: 45px;
    margin-top: 10px;
}
.verifyPic{
    
    border-radius: 5px;
    position: absolute;
    top:17%;
    left: 10%;
    width: 80%;
    height: 66%;
    background-color: white;
    z-index: 1;
    text-align: center;
}
.verifyPic .verifyPic1{
    margin-top: 10px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 20px;
}
.verifyPic .verifyPic2{
    height: 70px;
    display: flex;
    justify-content: space-around;
    
}
.verifyPic .verifyPic2 .verifyPic21{
    background-color: rgb(1, 150, 206);
    
}
.verifyPic .verifyPic2 .verifyPic22{
    color: red;
    line-height: 70px;
}
.verifyPic .verifyPic3{
    height: 40px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    text-align: left;

}
.verifyPic .verifyPic3 input{
    font-size: 16px;
    outline: none;
    border: none;
    margin-left: 23px;
}
.verifyPic .verifyPic4{
    margin-left: 8%;
    margin-right: 8%;
    height: 40px;
    background-color: rgb(1, 150, 206);
    border-radius: 5px;
    margin-bottom: 50px;
}
.Login .aaa{
    height: 45px;
    background-color: rgb(0, 151, 207);
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    color: white;
    line-height: 45px;
    margin-top: 10px;
}
