.right{
    width: 33%;
}
.right .rightTop1{
    text-indent: 10px;
    background-color: white;
   height: 50px;
   border-bottom: 1px dashed gray;
   line-height: 50px;
   border-radius: 5px;
}
.right .rightTop2{
   border-radius: 5px;
   background-color: white;
   height: 60px;
   display: flex;
}
.right .rightTop2 div{
    margin-top: 15px;
   height: 30px;
   width: 40px;
   background-color: rgba(129, 156, 160, 0.911);
   border-radius: 5px;
   line-height: 30px;
   text-align: center;
   margin-left: 10px;
}
.right .rightMiddle1{
   border-radius: 5px;
   text-indent: 10px;
   background-color: white;
  height: 50px;
  border-bottom: 1px dashed gray;
  line-height: 50px;
  margin-top: 20px;
}
.right .rightMiddle2{
   border-radius: 5px;
   background-color: white;
   height: 250px;
   display: flex;
  
}
.right .rightMiddle2 .abc{
   height: 50px;
   width: 50px;
   line-height: 50px;
   margin-right: 90px;
   
}


.right .rightDown1{
   border-radius: 5px;
   text-indent: 10px;
   background-color: white;
  height: 50px;
  border-bottom: 1px dashed gray;
  line-height: 50px;
  margin-top: 20px;
}
.right .rightDown2{
   border-radius: 5px;
   background-color: white;
   height: 270px;
   line-height: 250px;
   text-align: center;
}
.right .bodyMiddlePic{
 
   height: 60px;
   width: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 50px;
 
  
}