.article{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}

.article .guanli{
    font-weight: bold;
}
.article .xinzeng{
    cursor: pointer;
    text-decoration: none;
}
.article .neck{
    display: flex;
    justify-content: start;
    
}   
.article .neck div{
    background-color: rgb(250, 250, 250);
    width: 400px;
    height: 40px;
    border-bottom: 1px solid rgb(230, 219, 219);
    font-weight: bold;
}

.article .body{
    display: flex;
    justify-content: start;
}
.article .body div{
    
    width: 400px;
    height: 40px;
    border-bottom: 1px solid rgb(230, 219, 219);
    text-decoration:none;
}
.article .body .id{
    color: blue;
}
.article .body  .title,.time,.operate{
    text-decoration:none;
    color: black;
}
.article .body .operate,.del{
    text-decoration:none;
    color: blue;
    cursor: pointer;
}
.search {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}
.search div{
    width: 250px;
   border: 1px solid rgb(230, 219, 219);
    margin-left: 20px;
    border-radius: 5px;
  }
  .search div input{
    outline: none;
    border: none;
  }

.search .bu{
    float: right;
    height: 22px;
    display: flex;
    border: none;
}
.search .bu div{
    height: 22px;
    border: 1px solid rgb(230, 219, 219);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.foot{
    display: flex;
    justify-content: start;
    margin-top: 40px;
}
.foot div{
    line-height: 30px;
    height: 30px;
   border-radius: 5px;
    cursor: pointer;
   margin-right: 20px;
  
}
.foot .foot2 span{
   display: inline-block;
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}
.foot .foot2 .active{
    background-color: rgb(171, 185, 184);
    border: 1px solid blue;
    
}
.foot .foot3{
    border: 1px solid gray;
}
.foot .foot3 select{
    width: 100px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    border: none;
}
.foot div input{  
    outline: none;
    border: none;
}
.foot .foot4{
    width: 40px;
    height: 30px;
    border: 1px solid gray;
}

