*{
    margin: 0;
    padding: 0;
}
.articleList{
    width: 100%;
}
.articleList .articleList1{
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.articleList .articleList2{
    height: 120px;
   border-bottom: 1px solid gray;
   margin-bottom: 5px;
    line-height: 30px;
}
.articleList .articleList2 .articleList21{
   background-image: url('../picture/newest.png');
   width: 100px;
   height: 20px;
   background-repeat: no-repeat;
  
}
.articleList .articleList2 .articleList22{
   display: flex;
   justify-content: space-between;
   margin: auto 5%;
 }
 .articleList .articleList2 .articleList221{
    background-image: url('../picture/profile.png');
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-position:center ;
   
    background-size: 40px 30px;
 }
 .articleList .articleList2 .articleList222{
    font-size: 12px;
    width: 120px;
    height: 30px;
    line-height: 15px;
    margin-right: 30px;
 }
 .articleList .articleList2 .articleList223{
     text-align: right;
    font-size: 12px;
    background-image: url('../picture/colok.png');
    width: 70px;
    line-height: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 1px 12px;
    margin-right: 47px;
    background-size: 18px 18px;
 }
 .articleList .articleList2 .articleList23{
   margin-left: 18%;
   font-size: 13px;
  }
  .articleList .articleList2 .articleList24{
    display: flex;
    justify-content: space-around;
    margin: auto 9%;
   }
   .articleList .articleList2 .articleList241{
    text-align: right;
    background-image: url('../picture/damuzhizhaoxia_1.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 12px;
    background-size: 15px 15px;
   }
   .articleList .articleList2 .articleList242{
    text-align: right;
    background-image: url('../picture/damuzhizhaoxia.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 12px;
    background-size: 15px 15px;
   }
   .articleList .articleList2 .articleList243{
    text-align: right;
    background-image: url('../picture/icon-.png');
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: left;
    font-size: 12px;
    background-size: 15px 15px;
   }
   
.articleList .articleList3{
    margin: 0 3%;
    line-height: 30px;
    background-color: rgb(244, 245, 247);
    border-radius: 5px;
}
.articleList .articleList3 textarea{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(244, 245, 247);
    text-indent: 5px;
    
}
.articleList .submit{
    width: 40px;
    background-color: rgb(156, 161, 170);
    height: 20px;
    margin-left: 308px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
