*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(239, 239, 239);
}
.link{
    text-decoration:none;
    color: black;
}
.column{
    margin-top: 20px;
    height: 20px;
    width: 1px;
    border-left: 1px solid gray;
}